.center {
    text-align: center;
}

.text-center {
    margin: auto;
}

.margin-in-bottom {
    margin-bottom: 2%;
}

.margin-in-top {
    margin-top: 1%;
}

.margin-in-top-for-buttons {
    margin-top: 150px;
}

.margin-in-bottom-for-buttons {
    margin-bottom: 130px;
}